apiVersion: v1
kind: Service
metadata:
  name: hello-service
spec:
  selector:
    app: hello
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
      nodePort: 30080   # Porta fixa escolhida
  type: NodePort
